name: ci
on: [push]
env:
  CARGO_TERM_COLOR: always
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout aoc
      uses: actions/checkout@v6
      with:
        path: aoc
    - name: checkout aoc-private
      uses: actions/checkout@v6
      with:
        repository: jcowgill/aoc-private
        token: ${{ secrets.AOC_PRIVATE_TOKEN }}
        path: aoc-private
    - name: update rust
      run: rustup update
    - name: build
      run: cargo build --release
      working-directory: aoc
    - name: test
      run: cargo test --release
      working-directory: aoc
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: update rust
      run: rustup update
    - name: clippy
      run: cargo clippy
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: update rust
      run: rustup update
    - name: format
      run: cargo fmt --check
